<!DOCTYPE html>
<html>
<head>
    <!-- BananoChan for life -->
    <meta lang="en">
    <meta charset="utf-8">
    <meta property="og:title" content="Banoboto Banano Faucet">
    <meta property="og:description" content="Get free daily Banano, and Never Let Your Memes Be Dreams!">
    <meta property="og:image" content="images/banchan_happy.png">
    <meta property="og:url" content="https://faucet.banoboto.repl.co/">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="cryptocurrency, crypto, free, banano, dag, daily, faucet, banano faucet, free banano">
    <title>Banoboto's Banano Faucet</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script src="scripts/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/popup.min.js"></script>
    <script src="scripts/script.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="loader-wrapper">
    <object class="loader" data="images/banano.svg" type="image/svg+xml"></object>
</div>
<header>
    <div>
        <object data="images/banano.svg" type="image/svg+xml"></object>
        <img src="images/faucet_title_text.png" alt="Banoboto's Future Faucet" draggable="false">
    </div>
</header>
<main id=#main>
    <div id="faucet" class="backdrop-blur">
        {% if given %}
        <!-- TODO you can see your transaction here: BlockID -->
        {{ send }}
        {% if on_break %}
        <p>Hello! I am on break, so to prevent the faucet from going dry, payouts are set to 0.02 bans. Please continue
            to feel free to donate</p>
        {% else %}
        <p>{{ amount }} Banano has been sent to address {{ address }}</p>
        <p class="colored">Come back in 24 hours to claim Banano again!</p>
        <p>Donations to the faucet keep it running! <br>
            Please donate, look below on how to fill the faucet. <br>
            If the faucet has more than 100 bananos, payouts will increase!
        </p>
        <p>
            Please check out GoBanMe, a
            <u><a href="https://chrome.google.com/webstore/detail/gobanme/chcpbckfgpcogpgceecknjgcaicdonje">Chrome</a></u>
            and
            <u><a href="https://addons.mozilla.org/en-US/firefox/addon/gobanme/">Firefox</a></u>
            extension made by
            <prussia>Prussia</prussia>
            to help support your favorite banano sites!
        </p>
        {% endif %}
        Faucet Balance: {{ current_bal }} ban <br>
    </div>
    {% else %}
    Faucet Balance: {{ current_bal }} ban <br>
    <p>Hello there! If you <u>can</u>, donate some <u>ban</u>! - to the
        <me class="copy faucet">
            <a>[faucet]</a>
        </me>
    </p>
    {% if errors %}
    <error> ⚠</error>
    <br>
    <error>{{ errors }}.</error>
    <br><br>
    {% endif %}
    <form method="POST" action="/" id="giff-banano">
        <div class="address-input">
            <label for="address" class="form-label">> Banano Address</label>
            <input id="address" class="form-control" type="text" name="addr"
                   placeholder="ban_1burnbabyburndiscoinferno111111111111111111111111111aj49sw3w" required>
        </div>
        <div class="btn-container" id="btn-container">
            <button id="giff-banano" class="h-captcha" data-sitekey="175f5ab1-77d4-40d7-b8f2-cc19cd40db7c"
                    data-theme="dark" data-callback="onSubmit" type="submit">
                <span id="arrow_left">></span>
                <span>Secure your Banano future</span>
                <span id="arrow_right"><</span>
            </button>
        </div>
    </form>
    </div>
    {% endif %}
    <div class="expandables">
        <div id="what-is-banano-container" class="expandable backdrop-blur">
            <div class="always-show-expandable">
                <h1 class="expandable-title" onclick="toggle_expandable('what-is-banano')">
                    <a href="#what-is-banano" id="what-is-banano-a">
                        <span id="what-is-banano-drop" class="plus-minus">+</span> What even is Banano?
                    </a>
                </h1>
            </div>
            <div id="what-is-banano" class="expand-on-click">
                <p>
                    BANANO is a fast, feeless and fun cryptocurrency that is distributed for free.<br>
                    Don't let your memes be dreams and join the Banano Republic today, if you haven't already!<br>
                    For more resources visit
                    <box>
                        <img src="images/banano_icon.png" width="20" height="20" alt="banano icon">
                        <a href="https://banano.cc/">banano.cc</a>
                    </box>
                    , create a wallet and join our
                    <box>
                        <img src="images/banano_icon.png" width="20" height="20" id="spin" alt="spinning banano icon">
                        <a href="https://chat.banano.cc/">Discord!</a>
                    </box>
                </p>
            </div>
        </div>
        <div id="banano-things-container" class="expandable backdrop-blur">
            <div class="always-show-expandable">
                <h1 class="expandable-title" onclick="toggle_expandable('banano-things')">
                    <a href="#banano-things" id="banano-things-a">
                        <span id="banano-things-drop" class="plus-minus">+</span> Banano Things
                    </a>
                </h1>
            </div>
            <div id="banano-things" class="expand-on-click">
                <p>There is always something going on! You can:</p><br>
                <p> > check the
                    <box>
                        <a href="https://www.daily-peel.com/calendar"><img src="images/daily_peel.png" height=20px
                                                                           width=20px alt="DailyPeel Icon"> daily peel
                        </a>
                    </box>
                    &nbspfor upcoming community events,
                </p>

                <p>
                    > hang out on
                    <box>
                        <a href="https://jungletv.live/"><img src="images/jtv_static.gif" height=20px width=20px
                                                              alt="JungleTV Icon"> JungleTV</a>
                    </box>
                    to watch videos and earn some bans,
                </p>

                <p> > or just chat with other monkeys on discord</a> in
                    <box>
                        <a href="https://discord.com/channels/415935345075421194/416344480820494356">🌴-the-jungle.</a>
                    </box>
                </p>
                <br>
                The longer you spend in the jungle, the more bananas you will get (and go)!
            </div>
        </div>
        <div id="support-creator-container" class="expandable backdrop-blur">
            <div class="always-show-expandable">
                <h1 class="expandable-title" onclick="toggle_expandable('support-creator')">
                    <a href="#support-creator" id="support-creator-a">
                        <span id="support-creator-drop" class="plus-minus">+</span>
                        Support Faucet Creator
                    </a>
                </h1>
            </div>
            <div id="support-creator" class="expand-on-click">
                Click on the [brackets] to copy the respective address, then you can send bananos to it!
                <p>
                    You can <b>
                    <me>support me</me>
                </b> directly, but also feel free to <b>
                    <me>fill up the faucet</me>
                </b> a bit!
                </p>
                <p>
                    > Fill up Faucet:
                    <b>
                        <me class="copy faucet">
                            [faucet donation]
                        </me>
                    </b><br>
                    > Donate Banano:&nbsp
                    <b>
                        <me class="copy ban">
                            [banano donation]
                        </me>
                    </b>
                </p>
                <p>
                    <b>
                        <prussia>Prussia</prussia>
                    </b> did a lot of work and created the faucet I forked mine from, so please <b>
                    <prussia>support him</prussia>
                </b> by donating.
                </p>
                <p>
                    > Nano:&nbsp&nbsp&nbsp&nbsp
                    <prussia class="copy prussia-nano">
                        [nano donation]
                    </prussia>
                    <br>
                    > Banano:
                    <prussia class="copy prussia-ban">
                        [banano donation]
                    </prussia>
                </p>
            </div>
        </div>
    </div>
</main>
<footer id="footer">
    <span class="credit">
    Made with
    <div class="ban banchan">
        🍌
        <img class="ban_chan backdrop-blur" src="images/banchan_happy.png" width="50px" alt="hidden bananao chan">
    </div>
    by
    <span class="discord">
        banoboto
    </span>
    from
    <a href="https://github.com/jetstream0/Banano-Faucet">
        Prussia's faucet
    </a></span><br>
    <span class="legal">
    This site is protected by hCaptcha and its
    <a href="https://www.hcaptcha.com/privacy">Privacy Policy</a> and
    <a href="https://www.hcaptcha.com/terms">Terms of Service</a> apply.
    </span><br>
</footer>
</body>
</html>
